@page
@using XtremeIdiots.Portal.MgmtWeb.Pages.GameServers
@model EditModel
@{
    ViewData["Title"] = "Edit Game Server";
}

<h1>Edit Game Server: @Model.GameServerViewModel.Title</h1>
<hr/>

<form method="post">

    <div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GameServerViewModel.Id"/>

            <div class="form-group">
                <label asp-for="GameServerViewModel.Title" class="control-label"></label>
                <input asp-for="GameServerViewModel.Title" class="form-control"/>
                <span asp-validation-for="GameServerViewModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameServerViewModel.GameType" class="control-label"></label>
                <input asp-for="GameServerViewModel.GameType" class="form-control"/>
                <span asp-validation-for="GameServerViewModel.GameType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameServerViewModel.IpAddress" class="control-label"></label>
                <input asp-for="GameServerViewModel.IpAddress" class="form-control"/>
                <span asp-validation-for="GameServerViewModel.IpAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameServerViewModel.QueryPort" class="control-label"></label>
                <input asp-for="GameServerViewModel.QueryPort" class="form-control"/>
                <span asp-validation-for="GameServerViewModel.QueryPort" class="text-danger"></span>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

            <div class="form-group">
                <label asp-for="GameServerViewModel.RconPassword" class="control-label"></label>
                <input asp-for="GameServerViewModel.RconPassword" class="form-control"/>
                <span asp-validation-for="GameServerViewModel.RconPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameServerViewModel.FtpUsername" class="control-label"></label>
                <input asp-for="GameServerViewModel.FtpUsername" class="form-control"/>
                <span asp-validation-for="GameServerViewModel.FtpUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameServerViewModel.FtpPassword" class="control-label"></label>
                <input asp-for="GameServerViewModel.FtpPassword" class="form-control"/>
                <span asp-validation-for="GameServerViewModel.FtpPassword" class="text-danger"></span>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary"/>
            </div>

        </div>
    </div>

</form>
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}